*{
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}
body{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",
    Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji",
    "Segoe UI Symbol","Noto Color Emoji";

    background-color: #f5f5f5;
    color: #4e4e4e;
}

/*   Navigation Bar  */
 nav .container .navbar-brand {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
}
.navbar{
    font-size: 1.1rem;
    text-transform: uppercase;
    background-color: transparent;
}

.navbar a{
    transition: all 2s ease-in-out;
    line-height: 24px;


}
.home-line{
    height: 2px;
    width:30px;
    background-color: #fff;

    
}
.nav-item:hover .item-line{
visibility: visible;
width: 30px;
}

.item-line{
    height: 2px;
    width:0%;
    background-color: #fff;
    visibility: hidden;
    transition: width 1s;
}

/* home page  */

.home-section{
    width: 100%;
    height: 800px;
    background-image:url("../img/intro-bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
     margin-bottom:20px ;
  }
.home-text{
    width: 100%;
 height: 100%;
    text-align: center ;
   
    color: #fff;
    overflow: auto;
    font-family:"Source Sans Pro", sans-serif;
    font-stretch: 100%;
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0.5);
}
.home-text .home-title {
    color: #fff;
    font-size: 4.5rem;
    font-weight: 600;
  
    text-size-adjust: 100%;
    line-height: 1.2;
    margin-top: 20%;

}

/* about Section */
.about-section{
padding-top: 4rem;
    padding-bottom: 4rem;}

    .about-container {
        padding: 3rem 1.25rem;
        position: relative;
        background-color: #fff;
        margin-bottom: 3rem;
        z-index: 2;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    }
    .title {
        font-weight: 600;
        color: #1e1e1e;
        font-size: 1.1rem;
    }

    .title-about{
        font-size: 2rem;
        position: relative;
        color: #1e1e1e;
    }
    .title-about:before {
        content: '';
        position: absolute;
        height: 3px;
        background-color: #0078ff;
        width: 100px;
        bottom: -12px;
    }
    

    .about-pragraph{
        font-size: 1.25rem;
    font-weight: 300;
    }
  
    .right{
        float:"right";
    }


    /* services Section */
    #services .servicebox{
        background-color: #fff;
        padding: 2.5rem 1.3rem;
        border-radius: 1rem;
        margin-bottom: 3rem;
        box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
    }
    #services h3{
        font-size: 3rem;
        font-weight: bold;
        text-transform: uppercase;
        color: #1e1e1e;
        margin-bottom: .5rem;
    }
    #services .sline{
        width: 40px;
        height: 5px;
        background-color: #0078ff;
        margin: 0 auto;
    }
    #services .servicebox:hover .serviceicon i{
    color: #fff;
    background-color: #0078ff;
    box-shadow: 0 0 0 10px #abd3ff;
    }
    #services .serviceicon{
        margin-bottom: 1rem;
        color: #1e1e1e;
    }
    .serviceicon i{
        transition: all 500ms ease;
        font-size: 3.5rem;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        line-height: 1.8;
        margin: 0 auto;
        text-align: center;
        box-shadow: 0 0 0 10px #0078ff;
    }
    .servicebox h2{
        font-size: 1.4rem;
        text-transform: uppercase;
        text-align: center;
        padding: .4rem 0;
        color: #1e1e1e;
        margin-bottom: .5rem;
        font-weight: 500;
        line-height: 1.2;
    }
    
    
    
    /* counter */
    .counter{
        background-image: url(../img/counters-bg.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-position: center center;
        position: relative;
        padding: 8rem 0;
        box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
    }
    .counter .overlay{
        position: absolute;
        top: 0;
        left: 0px;
        padding: 0;
        height: 100%;
        width: 100%;
        opacity: .7;
        background-color: #0078ff;
    }
    .counter .counterbox{
        color: #fff;
        text-align: center;
    }
    .counterbox .countericon{
        margin-bottom: 1rem;
    }
    .countericon i{
        height: 60px;
        width: 60px;
        line-height: 2.2;
        box-shadow: 0 0 0 10px #cde1f8;
        font-size: 1.7rem;
        border-radius: 50%;
        margin: 0 auto;
        text-align: center;
    }
  